<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmácia Vida - Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<main class="card">
    <h1>Farmácia Vida</h1>
    <p class="sub">Entre com sua conta</p>

    <p class="erro" th:if="${param.error != null}">Dados inválidos!</p>
    <p class="info" th:if="${param.logout != null}">Você saiu da aplicação!</p>

    <form method="post" th:action="@{/login}">
        <label for="username">Email:</label>
        <input id="username" name="username" type="text" required>

        <label for="password">Senha:</label>
        <input id="password" name="password" type="password" required>

<!--        <div class="form-group">-->
<!--            <label for="remember-me" class="required">Lembrar de mim:</label>-->
<!--            <input id="remember-me" name="remember-me" type="checkbox" class="form-control">-->
<!--        </div>-->

        <button type="submit">Entrar</button>
    </form>
</main>

</body>
</html>
